body {
    font-family: 'Alright Sans', sans-serif!important;
    position: relative;
    color: #fff;
    background-color: #3b92a1;
}

#fondo{
    position:absolute;
    background: #000000;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

@media only screen and (max-device-width: 768px){
    #background{
        display: none;
    }
}

.container {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-item {
    padding: 0 20px 40px 20px;
}

.img-responsive {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .4s ease;
    -webkit-box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
}

.img-responsive:hover { 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
    -webkit-box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.8);
    opacity: 1;
    transform: scale(1.02);
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 25px;
    color: #ddd;
}

.top{
    position: absolute;
    bottom: 30px;
    right: 105px;
}

.navbar-brand {
  height: 225px!important;
}
.logo-center {
  display: block;
  margin: 0 auto;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: 0;
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0;
}

.wow {
   visibility: hidden;
}

a span, a:hover span.hover {
 display: inline;
}
a:hover span, a span.hover {
 display: none;
}